<div class="well">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>{{info.Name}} (ID: {{info.Id}})</h4>
        <h6>Deployment ID: {{info.CurrentDeployment}}</h6>
        <!-- control buttons -->
        <div class="btn-group" role="group" style="margin-right: 15px;">
          <button ng-click="start(info.Id)" type="button" class="btn btn-default btn-sm">
            <i class="fa fa-play"></i> Start</button>
          <button ng-click="stop(info.Id)" type="button" class="btn btn-default btn-sm">
            <i class="fa fa-stop"></i> Stop</button>
          <button ng-click="revert(-1)" type="button" class="btn btn-default btn-sm"
                  data-toggle="modal" data-target="#deploy-revert-modal"
                  title="Rollback one deployment.">
            <i class="fa fa-repeat"></i> Revert</button>
        </div>
        <div class="btn-group" role="group" style="margin-top: 10px;">
          <button ng-click="update()" type="button" class="btn btn-default btn-sm"
                  data-toggle="modal" data-target="#deploy-update-modal">
            <i class="fa fa-edit"></i> Update</button>
        </div>
      </div>
      <div class="col-md-9">
        <h5>{{recent.Creator}} deployed with ID {{recent.Id}}</h5>
        <h6>{{recent.Date | fromISO:true}}</h6>
        <h6>Running {{recent.Image}}</h6>
        <a ng-show="!showHistory" ng-click="showHistory = !showHistory" href="#">Show recent deployments</a>
        <a ng-show="showHistory" ng-click="showHistory = !showHistory" href="#">Hide recent deployments</a>
      </div>
    </div>
  </div>
</div>
<div ng-show="showHistory">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="deploy in detail">
      <button ng-click="revert(deploy.Id)" type="button" class="btn btn-default btn-sm"
              data-toggle="modal" data-target="#deploy-revert-modal"
              title="Rollback to this deployment."><i class="fa fa-repeat"></i></button>&nbsp;
      {{deploy.Creator}} deployed using <code>{{deploy.Image}}</code> {{deploy.Date | fromISO:true}} with ID {{deploy.Id}}
    </li>
  </ul>
</div>