<div class="modal fade"
     id="deployer-modal"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4>Deploy an application</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label data-toggle="tooltip" data-placement="right"
                               title="Names help Lighthouse track apps across multiple Docker instances.">Name</label>
                        <input type="text" class="form-control" placeholder="application-name" ng-model="request.Name">
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <input type="text" class="form-control" placeholder="image:tag"
                               ng-model="request.Command.Image" ng-change="updateCommand()">
                    </div>
                    <div class="form-group">
                        <label>Command</label>
                        <input type="text" class="form-control" placeholder="/bin/bash"
                               ng-model="request.Command.Cmd" ng-change="updateCommand()">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="query.forcePull"> Force pull non-existent images</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="query.start"> Start containers after creation</label>
                    </div>
                    <h5>Select Instances</h5>
                    <div class="list-group">
                        <a href="#" class="list-group-item"
                           ng-repeat="instance in instances"
                           ng-class="{'list-group-item-success': instance.selected}"
                           ng-click="toggleInclude(instance)">
                           <i class="fa fa-check" ng-show="instance.selected"></i>&nbsp;{{instance.Alias}}</a>
                    </div>

                    <h5 data-toggle="collapse" data-target="#dockerRequest">
                        <i class="fa fa-caret-down" ng-show="showRequest"></i>
                        <i class="fa fa-caret-right" ng-show="!showRequest"></i>&nbsp;Docker container create request</h5>
                    <textarea id="dockerRequest" class="form-control collapse" rows="15" ng-model="rawCommand"
                              style="font-family: monospace; font-size: 14px;"></textarea>

                    <button class="btn btn-success"
                            data-dismiss="modal"
                            ng-click="deploy()"
                            type="submit">Deploy</button>
                </form>
            </div>
        </div>
    </div>
</div>