<div class="well" ng-show="state.started">
    <h4 ng-show="!state.finished"><i class="fa fa-refresh fa-spin"></i> {{action.started}}</h4>
    <h4 ng-show="state.finished && state.good"><i class="fa fa-check"></i> {{action.finished}}</h4>
    <h4 ng-show="state.finished && !state.good"><i class="fa fa-exclamation-circle"></i> {{action.failed}}</h4>

    <div ng-repeat="error in errors" class="alert alert-danger">
        {{ error }}
    </div>

    <ul class="list-group">
        <li class="list-group-item list-group-item-success" ng-repeat="status in completed"
            style="color: #5a5a5a; padding: 8px 15px;">{{status.Message}}&nbsp;
            <i class="fa fa-long-arrow-right"></i> <strong>{{status.Method}}</strong> {{status.Endpoint}}
        </li>
        <li class="list-group-item list-group-item-warning" ng-repeat="status in inProgress"
            style="color: #5a5a5a; padding: 8px 15px;">
            <i class="fa fa-refresh fa-spin"></i>&nbsp;{{status.Message}}&nbsp;
            <i class="fa fa-long-arrow-right"></i> <strong>{{status.Method}}</strong> {{status.Endpoint}}
        </li>
    </ul>
    <h5 data-toggle="collapse" data-target="#streamLog">
        <i class="fa fa-caret-down" ng-show="showLog"></i>
        <i class="fa fa-caret-right" ng-show="!showLog"></i>&nbsp;Stream logs
    </h5>
    <textarea id="streamLog" class="form-control collapse" rows="10"
              style="font-family: monospace; font-size: 10px;">{{streamLog()}}</textarea>
    <button type="button" class="btn btn-primary" ng-click="reset()" ng-show="state.finished">Ok!</button>
</div>