<div class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Lighthouse</a>
    </div>
    <div ng-if="loggedIn" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/beacons">Beacons</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <p class="navbar-text">
            Signed in as <a class="navbar-link" href="#">{{ user.email }}</a>
          </p>
        </li>
        <li>
          <button ng-click="logout()" type="button"
            class="btn btn-default navbar-btn">Sign out</button>
        </li>
      </ul>
    </div>
  </div>
</div>
