<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li class="active">Beacons</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group btn-group btn-group-sm">
        <button type="button" class="btn btn-success" data-target="#beacon-modal" ng-click="open()">
          <i class="fa fa-plus"></i> Add Beacon
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- beacon panel definition -->
      <div class="panel panel-default" ng-repeat="beacon in beacons track by $index">
        <div class="panel-heading" role="tab" ng-click="injectInstances(beacon)">
          <h4 class="panel-title">
            {{ beacon.Alias }} ({{ beacon.Address }})
          </h4>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Docker Status</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="instance in instances[$index] track by $index">
                <td>
                  <a href="/instances/{{ instance.Alias }}">{{ instance.Alias }}</a>
                </td>
                <td>{{ instance.InstanceAddress }}</td>
                <td>{{ instance.CanAccessDocker }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div beacon bid="0"></div>
    <div beacon bid="1"></div>
  </div>
</div>

<div class="modal show" ng-show="submitting" id="beacon-modal" tab-index="-1"
     role="dialog" aria-labelledby="beacon-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="beacon-modal-label">Create Beacon</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="beaconForm" ng-submit="create(new)" novalidate>
          <div class="form-group" ng-class="{'has-error': form.submitted && beaconForm.alias.$error.required}">
            <label for="beacon-alias" class="col-sm-2 control-label">Alias</label>
            <div class="col-sm-10">
              <input required name="alias" type="text" ng-model="new.alias" class="form-control" id="beacon-alias" placeholder="awesome-beacon">
            </div>
          </div>
          <div class="form-group" ng-class="{'has-error': form.submitted && beaconForm.address.$error.required}">
            <label for="beacon-address" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-10">
              <input required name="address" type="text" ng-model="new.address" class="form-control" id="beacon-address" placeholder="127.0.0.1">
            </div>
          </div>
          <div class="form-group" ng-class="{'has-error': form.submitted && beaconForm.token.$error.required}">
            <label for="beacon-token" class="col-sm-2 control-label">Token</label>
            <div class="col-sm-10">
              <input required name="token" type="text" ng-model="new.token" class="form-control" id="beacon-token" placeholder="token">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-8 col-sm-4">
              <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
