<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="/instances">Instances</a></li>
        <li><a href="/instances/{{host}}">{{host}}</a></li>
        <li>containers</li>
        <li>{{id}}</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 clearfix">
      <div class="btn-group btn-group-sm pull-left" role="group"
           style="padding-right: 10px;">
        <button ng-if="state.stopped" type="button" class="btn btn-default"
                ng-click="start(id)">
          <span class="glyphicon glyphicon-play"></span> Start</button>

        <button ng-if="state.paused" type="button" class="btn btn-default"
                ng-click="unpause(id)">
          <span class="glyphicon glyphicon-play"></span> Unpause</button>

        <button ng-if="state.running" type="button" class="btn btn-default"
                ng-click="pause(id)">
          <span class="glyphicon glyphicon-pause"></span> Pause</button>

        <button ng-if="state.running || state.paused" type="button" class="btn btn-default"
                ng-click="stop(id)">
          <span class="glyphicon glyphicon-stop"></span> Stop</button>
      </div>

      <h4>Container <code>{{id}}</code> on {{host}} is
        <code ng-if="state.running"> Running</code>
        <code ng-if="state.stopped"> Stopped</code>
        <code ng-if="state.paused"> Paused</code>
        <code ng-if="state.restarting"> Restarting</code>
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Docker Response
        </div>
        <div class="panel-body" style="padding: 0;">
          <pre style="border: 0; margin: 0; font-size: 12px;">
            {{info | stringify}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>