<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li class="active">Instances</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group btn-group-sm">
          <a class="btn btn-primary"><i class="fa fa-refresh"></i> Rescan</a>
        </div>
        <div class="btn-group btn-group-sm">
          <a class="btn btn-success"><i class="fa fa-plus"></i> Add Provider</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <form>
        <h4>Filters</h4>
        <label class="form-label">Provider</label>
        <select class="form-control input-sm">
          <option>All</option>
          <option>AWS</option>
          <option>GCE</option>
          <option>Other</option>
        </select>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked="checked">Only show instances that are up</label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked="checked">Only show instances with Docker connections</label>
        </div>
      </form>
    </div>
    <div class="col-md-9">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Port</th>
            <th>Version</th>
            <th>Docker Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="instance in instances">
            <td>
              <a href="/instances/{{ instance.name }}">{{ instance.name }}</a>
            </td>
            <td>{{ instance.address }}</td>
            <td>{{ instance.port }}</td>
            <td>{{ instance.version }}
            <td>{{ instance.canAccessDocker }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
