<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="/beacons">Beacons</a></li>
        <li class="active">{{ instance.alias }}</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>{{ instance.alias }}</h3>
    </div>
  </div>
  <!-- Containers -->
  <div class="row">
    <div class="col-md-12">
      <h4>Containers</h4>
      <div class="checkbox">
        <label><input type="checkbox" ng-model="allContainers" ng-click="getContainers()"> Show all</label>
      </div>

      <a class="btn btn-sm btn-primary" href="/instances/{{instance.alias}}/container/create">
        Create
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Image</th>
            <th>Command</th>
            <th>Created</th>
            <th>Ports</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="container in containers track by container.Id">
            <td>
              <a href="/instances/{{instance.alias}}/container/{{container.Id | shorten:10}}">
                {{container.Id | shorten:10}}
              </a>
            </td>
            <td>{{ container.Status }}</td>
            <td>{{ container.Image }}</td>
            <td>{{ container.Command }}</td>
            <td>{{ container.Created | fromEpoch:true }}</td>
            <td>{{ container.Ports }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Images -->
  <div class="row" style="margin-bottom: 20px;">
    <div class="col-md-12">
      <h4>Images</h4>
      <div class="checkbox">
        <label><input type="checkbox" ng-model="allImages" ng-click="getImages()"> Show all</label>
      </div>
      <a class="btn btn-sm btn-primary" href="/instances/{{instance.alias}}/image/add">
        Add
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" ng-repeat="(name, progress) in loadingImages">
      <span>Pulling <strong>{{ name }}</strong></span>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{'width': progress}"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>ID</th>
            <th>Parent ID</th>
            <th>Repo tags</th>
            <th>Size</th>
            <th>Virtual Size</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="image in images track by image.Id">
            <td>{{ image.Id | shorten:12 }}</td>
            <td>{{ image.ParentId | shorten:12 }}</td>
            <td>{{ image.RepoTags.join(', ') }}</td>
            <td>{{ image.Size }}</td>
            <td>{{ image.VirtualSize }}</td>
            <td>{{ image.Created | fromEpoch:true }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
