<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="/instances">Instances</a></li>
        <li class="active">{{ instance }}</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>{{ instance.name }}</h1>
    </div>
    <div class="col-md-12">
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{ instance.Name }}</dd>
        <dt>Address</dt>
        <dd>{{ instance.Address }}</dd>
        <dt>Port</dt>
        <dd>{{ instance.Port }}</dd>
        <dt>Version</dt>
        <dd>{{ instance.Version }}</dd>
        <dt>Docker Status</dt>
        <dd>{{ instance.CanAccessDocker }}</dd>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group btn-group-sm">
          <a class="btn btn-primary"><i class="fa fa-refresh"></i> Rescan</a>
        </div>
        <div class="btn-group btn-group-sm">
          <a class="btn btn-success"><i class="fa fa-plus"></i> Add Container</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Image</th>
            <th>Command</th>
            <th>Created</th>
            <th>Ports</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="container in containers">
            <td>{{ container.Id }}</td>
            <td>{{ container.Status }}</td>
            <td>{{ container.Image }}</td>
            <td>{{ container.Command }}</td>
            <td>{{ container.Created }}</td>
            <td>{{ container.Ports }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
