<div class="row">
  <div class="col-md-12">
    <div class="btn-toolbar">
      <div class="btn-group btn-group-sm">
        <a class="btn btn-primary"><i class="fa fa-refresh"></i> Rescan</a>
      </div>
      <div class="btn-group btn-group-sm">
        <a class="btn btn-success"><i class="fa fa-plus"></i> Add Provider</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <form>
      <h4>Filters</h4>
      <label class="form-label">Provider</label>
      <select class="form-control input-sm">
        <option>All</option>
        <option>AWS</option>
        <option>GCE</option>
        <option>Other</option>
      </select>
      <div class="checkbox">
        <label>
          <input type="checkbox" checked="checked">Only show instances that are up</label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" checked="checked">Only show instances with Docker connections</label>
      </div>
    </form>
  </div>
  <div class="col-md-9">
    <table class="table">
      <thead>
        <tr>
          <th>Hostname</th>
          <th>Host Status</th>
          <th>Docker Status</th>
          <th>Provider</th>
          <th>Instance ID</th>
          <th>IP Addresses</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="instance in instances">
          <td>
            <a href="#">{{ instance.Name }}</a>
          </td>
          <td>
            {{ instance.Address }}
          </td>
          <td>
            {{ instance.CanAccessDocker }}
          </td>
          <td>aws</td>
          <td>i-10a64379</td>
          <td>176.10.10.20</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
