<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="/beacons">Beacons</a></li>
        <li class="active">{{ instance.alias }}</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>{{ instance.alias }}</h1>
    </div>
  </div>
  <!-- Containers -->
  <div class="row">
    <div class="col-md-12">
      <h3>Containers</h3>
      <div class="checkbox">
        <label><input type="checkbox" ng-model="allContainers" ng-click="getContainers()"> Show all</label>
      </div>

      <a class="btn btn-default btn-sm btn-success" href="/instances/{{instance.name}}/container/create">
        Create
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Image</th>
            <th>Command</th>
            <th>Created</th>
            <th>Ports</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="container in containers track by container.Id">
            <td>
              <a href="/instances/{{instance.alias}}/container/{{container.Id | shorten:10}}">
                {{container.Id | shorten:10}}
              </a>
            </td>
            <td>{{ container.Status }}</td>
            <td>{{ container.Image }}</td>
            <td>{{ container.Command }}</td>
            <td>{{ container.Created | fromEpoch:true }}</td>
            <td>{{ container.Ports }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Images -->
  <div class="row">
    <div class="col-md-12">
      <h3>Images</h3>
      <div class="checkbox">
        <label><input type="checkbox" ng-model="allImages" ng-click="getImages()"> Show all</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>ID</th>
            <th>Parent ID</th>
            <th>Repo tags</th>
            <th>Size</th>
            <th>Virtual Size</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="image in images track by image.Id">
            <td>{{ image.Id | shorten:10 }}</td>
            <td>{{ image.ParentId | shorten:10 }}</td>
            <td>{{ image.RepoTags }}</td>
            <td>{{ image.Size }}</td>
            <td>{{ image.VirtualSize }}</td>
            <td>{{ image.Created | fromEpoch:true }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
