<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li>Users</li>
        <li class="active">{{ user.email }}</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group btn-group btn-group-sm">
        <button type="button" class="btn btn-success">
          <i class="fa fa-plus"></i> Something User
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <dl class="dl-horizontal">
        <dt>Email</dt>
        <dd>{{ user.email }}</dd>
      </dl>
    </div>
  </div>
</div>
